.*.swp      # Vim Files
*~          # backup files
.idea
.sass-cache

# Generated text files
install.txt
config.txt
start.txt
update.txt

# created html directory
www/html

# website config
etc/nginx/sites-available/default

# settings
etc/raspimjpeg/raspimjpeg
/www/poc/data/
